@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin col($col, $of) {
    width: calc((100% - (#{$of - $col} * #{$gutter-horizontal})) / (#{$of}));
        background-color: orangered;

        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontal
        }
}

@mixin center-horizontal-vertical {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}